# What is data encoding? How is it useful in data science?

Data encoding is the process of converting the categorical data into numerical data.

It is useful in data science to feed the data into machine learning models.

# What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Nominal encoding is the method of assigining numerical  value to the categorical data that has no significance as a number in mathematics.

For example, if we encode the name of places then the places are not based on the rank , the number does not satisfy the value of that place.

Which can be more clearer in below example:

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df=pd.DataFrame({'places':['Delhi','Chennai','Kolkata','Panjab','Mumbai','Delhi','Chennai','Panjab']})

In [4]:
df

    places
0    Delhi
1  Chennai
2  Kolkata
3   Panjab
4   Mumbai
5    Delhi
6  Chennai
7   Panjab

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
label=LabelEncoder()

In [7]:
df['encoded_data']=label.fit_transform(df[['places']])

C:\Users\Rocha\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [8]:
df

    places  encoded_data
0    Delhi             1
1  Chennai             0
2  Kolkata             2
3   Panjab             4
4   Mumbai             3
5    Delhi             1
6  Chennai             0
7   Panjab             4

# In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Nominal Encoding is preferred over one-hot encoding when you have only one column for feature and there are many elements in the columns and the elements are also repeating

In [21]:
df1=pd.DataFrame({'colors':['black','red','blue','black','red','red','yellow','red',
                    'blue','black','red','pink','yellow',
                           'red','pink','yellow','grey','violet','indigo','brown','orange','green']})

In [22]:
df1

    colors
0    black
1      red
2     blue
3    black
4      red
5      red
6   yellow
7      red
8     blue
9    black
10     red
11    pink
12  yellow
13     red
14    pink
15  yellow
16    grey
17  violet
18  indigo
19   brown
20  orange
21   green

In [23]:
# Applying OneHot Code in it
from sklearn.preprocessing import OneHotEncoder

In [24]:
enco=OneHotEncoder()

In [25]:
OHE=enco.fit_transform(df1[['colors']]).toarray()

In [26]:
OHE

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.]])

### Here we can see that the many features yielded a large matrix value that will be a little difficult for algorthm to process

In [27]:
#Applying nominal encoding
label2=label.fit_transform(df1[['colors']])

C:\Users\Rocha\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
label2

array([ 0,  8,  1,  0,  8,  8, 10,  8,  1,  0,  8,  7, 10,  8,  7, 10,  4,
        9,  5,  2,  6,  3])

# Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

In this case I will apply onehotencoder.

Because in this case we have only few unique values and onehotencoder produces a sparse matrix which is faster for input processing 
 than others.

# Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

One-Hot Encoding would be appropriate for the "species" and "habitat" variables since there are likely to be many unique values 

for these variables. One-Hot Encoding will create a binary vector representation of each unique value in the categorical 

variable, which can be used as input for machine learning algorithms. This technique avoids any potential biases or assumptions 

the underlying relationships between these values.

For the "diet" variable, since there are a limited number of unique values, Label Encoding could be used. Label Encoding would assign a numerical label to each unique value in the categorical variable, which can be used as input for machine learning algorithms. However, it is important to note that this technique assumes an ordinal relationship between the unique values, which may not exist in reality.

Overall, the combination of One-Hot Encoding and Label Encoding is a commonly used approach for encoding multiple categorical variables in a dataset. It provides a balance between avoiding assumptions about relationships between values while still maintaining the ability to represent the data in a suitable format for machine learning algorithms.

# Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation how you would implement the encoding.

Here we have only two categorical data, they are customer's gender and contract type. 

 For Customer's gender there may be only 3 unique values so we can apply OneHot Encoder as done in above .
    
For contract I will use ordinal Encoding as the contract can be ranked according to the agreement .

Applying Ordinal Encoding

from sklearn.preprocessing OrdinalEncoder

OE=OrdinalEncoder(categories=[['a','b','c']])

OE.fit_transform(df[['column_name']])