1

functions of pandas library with execution

In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('fool.csv')

In [8]:
df

,Brand,Model,Type,Gender,Size,Color,Material,Price (USD)
0,Nike,Air Jordan 1,Basketball,Men,US 10,Red/Black,Leather,$170.00
1,Adidas,Ultra Boost 21,Running,Men,US 9.5,Black,Primeknit,$180.00
2,Reebok,Classic Leather,Casual,Men,US 11,White,Leather,$75.00
3,Converse,Chuck Taylor,Casual,Women,US 8,Navy,Canvas,$55.00
4,Puma,Future Rider,Lifestyle,Women,US 7.5,Pink,Mesh,$80.00
...,...,...,...,...,...,...,...,...
1001,New Balance,Fresh Foam 880v11,Running,Women,US 10,Grey,Mesh,$130.00
1002,Asics,Gel-Kayano Lite,Running,Men,US 9.5,Black,Mesh,$160.00
1003,Fila,Venom 94,Fashion,Women,US 7.5,White,Leather,$70.00
1004,Skechers,Summits,Training,Men,US 8,Grey,Mesh,$55.00
1005,Nike,Air Max 97,Running,Women,US 7.5,Silver,Leather,$170.00

In [11]:
df['Material'].unique()

array(['Leather', 'Primeknit', 'Canvas', 'Mesh', 'Suede/Canvas',
       'Suede/Mesh', 'Leather/Synthetic', 'Suede', 'Synthetic',
       'Mesh/Synthetic', 'Suede/Textile', 'Knit', 'Nylon', 'Flexweave',
       'Flyknit', 'Mesh/Leather', 'Suede/Leather', 'Canvas/Suede',
       'Textile/Leather', 'Leather/Suede', 'Synthetic/Mesh',
       'Canvas/Leather', 'Nylon/Suede', 'Flexweave/Knit', 'Suede/Nylon',
       'Primeknit/Synthetic', 'Synthetic/Leather', 'Leather/Mesh',
       'Knit/Synthetic', 'Synthetic/Textile', 'Textile',
       'Flexweave/Cushioning', 'Flexweave/Synthetic', 'Mesh/Suede'],
      dtype=object)

In [12]:
df.isnull()

      Brand  Model   Type  Gender   Size  Color  Material  Price (USD)
0     False  False  False   False  False  False     False        False
1     False  False  False   False  False  False     False        False
2     False  False  False   False  False  False     False        False
3     False  False  False   False  False  False     False        False
4     False  False  False   False  False  False     False        False
...     ...    ...    ...     ...    ...    ...       ...          ...
1001  False  False  False   False  False  False     False        False
1002  False  False  False   False  False  False     False        False
1003  False  False  False   False  False  False     False        False
1004  False  False  False   False  False  False     False        False
1005  False  False  False   False  False  False     False        False

[1006 rows x 8 columns]

In [21]:
df['Sex']=df.Gender.map({'Men':0,
                         'Women':1})

In [22]:
df

,Brand,Model,Type,Gender,Size,Color,Material,Price (USD),Sex
0,Nike,Air Jordan 1,Basketball,Men,US 10,Red/Black,Leather,$170.00,0
1,Adidas,Ultra Boost 21,Running,Men,US 9.5,Black,Primeknit,$180.00,0
2,Reebok,Classic Leather,Casual,Men,US 11,White,Leather,$75.00,0
3,Converse,Chuck Taylor,Casual,Women,US 8,Navy,Canvas,$55.00,1
4,Puma,Future Rider,Lifestyle,Women,US 7.5,Pink,Mesh,$80.00,1
...,...,...,...,...,...,...,...,...,...
1001,New Balance,Fresh Foam 880v11,Running,Women,US 10,Grey,Mesh,$130.00,1
1002,Asics,Gel-Kayano Lite,Running,Men,US 9.5,Black,Mesh,$160.00,0
1003,Fila,Venom 94,Fashion,Women,US 7.5,White,Leather,$70.00,1
1004,Skechers,Summits,Training,Men,US 8,Grey,Mesh,$55.00,0
1005,Nike,Air Max 97,Running,Women,US 7.5,Silver,Leather,$170.00,1

In [23]:
df['Sex']

0       0
1       0
2       0
3       1
4       1
       ..
1001    1
1002    0
1003    1
1004    0
1005    1
Name: Sex, Length: 1006, dtype: int64

In [38]:
df['Price (USD)']=df['Price (USD)'].str.replace('[/$/]',"").astype(float)

/tmp/ipykernel_1104/1894384470.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Price (USD)']=df['Price (USD)'].str.replace('[/$/]',"").astype(float)

In [40]:
df['Price (USD)']

0       170.0
1       180.0
2        75.0
3        55.0
4        80.0
        ...
1001    130.0
1002    160.0
1003     70.0
1004     55.0
1005    170.0
Name: Price (USD), Length: 1006, dtype: float64

In [41]:
df['Price (USD)'].mean()

101.30614314115307

In [52]:
def check(x):
    for i in df['Price (USD)']:
        if i<=101.306:
            return 'Cheap'
        else:
            return 'Expensive'

In [53]:
df['Category']=df['Price (USD)'].apply(check)

In [54]:
df

,Brand,Model,Type,Gender,Size,Color,Material,Price (USD),Sex,Category
0,Nike,Air Jordan 1,Basketball,Men,US 10,Red/Black,Leather,170.0,0,Expensive
1,Adidas,Ultra Boost 21,Running,Men,US 9.5,Black,Primeknit,180.0,0,Expensive
2,Reebok,Classic Leather,Casual,Men,US 11,White,Leather,75.0,0,Expensive
3,Converse,Chuck Taylor,Casual,Women,US 8,Navy,Canvas,55.0,1,Expensive
4,Puma,Future Rider,Lifestyle,Women,US 7.5,Pink,Mesh,80.0,1,Expensive
...,...,...,...,...,...,...,...,...,...,...
1001,New Balance,Fresh Foam 880v11,Running,Women,US 10,Grey,Mesh,130.0,1,Expensive
1002,Asics,Gel-Kayano Lite,Running,Men,US 9.5,Black,Mesh,160.0,0,Expensive
1003,Fila,Venom 94,Fashion,Women,US 7.5,White,Leather,70.0,1,Expensive
1004,Skechers,Summits,Training,Men,US 8,Grey,Mesh,55.0,0,Expensive
1005,Nike,Air Max 97,Running,Women,US 7.5,Silver,Leather,170.0,1,Expensive

2

In [57]:
df1=pd.DataFrame({"Name":['Rochak','Shyam','Hari'],
                 'Age':[12,23,24]},index=['A','B','C'])

In [58]:
df1

     Name  Age
A  Rochak   12
B   Shyam   23
C    Hari   24

In [66]:
df1.shape

(3, 2)

In [67]:
df1['Index']=[1,3,5]

In [70]:
df1.set_index(['Index'],inplace=True)

3

If df is the Given Data Frame then:
df_2=df.head(3)
def sum():
    for i in df_2['Values']:
        s=i+s
    print(s)

4

df['Word_Count']=df['Text'].apply(len)

5

df.shape gives the order of the dataframe where as

df.size gives the total entities are there in the dataframe . It gives the product of that order

6

pd.read_excel('name_of_the_file.excel')

7

In [72]:


data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Email': ['alice@example.com', 'bob@example.com', 'charlie@example.com']}
df2 = pd.DataFrame(data)

In [74]:
df2

      Name                Email
0    Alice    alice@example.com
1      Bob      bob@example.com
2  Charlie  charlie@example.com

In [81]:
df2['User_name']=df2.Email.str.split('@').str.get(0)

In [82]:
df2

      Name                Email User_name
0    Alice    alice@example.com     alice
1      Bob      bob@example.com       bob
2  Charlie  charlie@example.com   charlie

9

df['Values'].mean()

df['Values'].median()

df['Values'].std()

10

df['MovingAverage']=df['Date'].rolling(window=7).mean()

12

filt=(df['Date']>='2023-01-01')&(df['Date']<='2023-01-31')
df.loc[filt]

13

For that you have to import pandas